AUTH_SERVICE_URL=http://127.0.0.1:8001
USER_SERVICE_URL=http://127.0.0.1:8002
PROPERTY_SERVICE_URL=http://127.0.0.1:8003
BOOKING_SERVICE_URL=http://127.0.0.1:8004
MESSAGING_SERVICE_URL=http://127.0.0.1:8005
INTERNAL_SERVICE_TOKEN=lab-internal
JWT_SECRET_KEY=secret
DB_HOST=127.0.0.1
DB_PORT=15432
DB_USER=dev
DB_PASSWORD=dev
